name: Generate Snake Animation

permissions:
  contents: write
on:

  # Schedule the workflow to run every 12 hours

  schedule:

    - cron: "0 */12 * * *"



  # Allow manual triggering of the workflow

  workflow_dispatch:



  # Trigger the workflow on pushes to the main branch

  push:

    branches:

      - main



jobs:

  generate:

    runs-on: ubuntu-latest

    timeout-minutes: 5



    steps:

      # Step 1: Generate the snake animations

      - name: Generate github-contribution-grid-snake.svg

        uses: Platane/snk/svg-only@v3

        with:

          # GitHub username to generate the animation for

          github_user_name: ${{ github.repository_owner }}



          # Define the output files and their configurations

          outputs: |

            dist/github-snake.svg

            dist/github-snake-dark.svg?palette=github-dark



      # Step 2: Push the generated files to the 'output' branch

      - name: Push github-contribution-grid-snake.svg to output branch

        uses: crazy-max/ghaction-github-pages@v3.1.0

        with:

          target_branch: output

          build_dir: dist

        env:

          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
